/* --- VARIABLES --- */
:root {
    --negro: #000000;
    --plomo-scroll: rgba(47, 46, 46, 0.85); 
    --white: rgb(255, 255, 255);
    --accent: #DE5E91; 
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; 
}

body {
    margin: 0;
    background-color: var(--negro);
    color: var(--white);
    font-family: "Montserrat", sans-serif;
}

li{
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* --- LAYOUT --- */
.container {
    width: 100%;
    
}

.main {
    width: 100%;
}

/* --- NAVBAR --- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    transition: background-color 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000; 
}

.navbar.scrolled {
    background-color: var(--plomo-scroll);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.ubicacion {
    font-weight: 550;
    font-size: 0.9rem;
}

.img-nav {
    width: 30px;      
    height: 30px;
    transform: rotate(-180deg);
    transition: transform 0.3s;
}

.img-nav:hover {
    transform: rotate(180deg);
}


.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    padding: 20px 10%;
    min-height: 100vh; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("./img/fondo-portfolio.png") center center/cover no-repeat;
    background-color: #000;
}

.me h1 {
    font-weight: 500;
    font-size: clamp(2.5rem, 12vw, 6rem);
    line-height: 1.1;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: left;
}


.griss {
    color: #777777;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.griss.title {
    margin-top: 20px;
    font-size: 1.1rem; 
}

.griss li {
    margin-bottom: 12px;
    list-style: none; 
}


/* menos de 400px */
@media (max-width: 350px) {
    .ubi { display: none; }
    .me h1 { font-size: 2.5rem; }
}

/* Laptops y PCs */
@media (min-width: 1024px) {
    
    .about {
        align-items: flex-start; 
        padding-left: 15%;
    }
    .me h1 {
        font-weight: 600;
    }
}